<h2>Places</h2>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>" class="btn btn-primary"><%= place["name"] %> </a></li>
  <% end %>
</ul>

<% if @current_user %>
<p>
  <a href="/places/new" class="btn btn-warning">New place</a>
</p>
<% end %>